@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

.container{
	width:85%;
	margin: 0 auto;
}

.container > h1 {
	text-align: center;
	margin-top:100px;
	margin-bottom:10px;
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 600;
}

.container > h3 {
	margin-bottom: 105px;
	text-align: center;
	font-size: 22px;
}

.product{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	flex-direction: row;
}


.product-card {
	flex:1;
	min-width: 23.44%;
	max-width: 23.44%;
	margin-bottom: 40px;
	position: relative;
	box-shadow: 0 0 1px 0 rgb(0, 0, 0, 0.25)
}


.product-card:hover {
	cursor: pointer;
	box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.3);
	transition:0.5s ease;
}

.product-buy a{ 
	position: absolute;
	z-index:1;
}

.product-buy a:hover button{
	background-color: green;
	color:#fff;
}

.product-buy button{
	border: none;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

/* .product-img {
} */

.product-img img {
	width: 100%;
	height: auto;
}

.product-info{
	text-align: center;
	text-transform: uppercase;
}

.product-info h5{
	font-size:16px;
	margin-top: 10px;
}

.product-info h5:nth-child(2) {
	color:green;
	margin-bottom:10px;
}



/*Responsive Design */

@media screen and (min-width: 1481px) and (max-width: 1920px){

	.product {
		justify-content: flex-start;
	}

	.product-card {
		margin-right: 1%;
	}


	.product div:nth-child(4){
		margin-right: 0;
	}

}

@media screen and (max-width: 1480px){

	.product {
		justify-content: flex-start;
	}

	.product-card{
		max-width: 28%;
		min-width: 28%;
		margin-bottom: 8%;
		margin-right: 8%;
	}

	.product div:nth-child(3){
		margin-right: 0;
	}

}


@media screen and (max-width: 1080px){
	.product{
		justify-content: space-between;
	}
	
	.product-card{
		min-width: 46%;
		max-width: 46%;
		margin-bottom: 8%;
		margin-right: 0;
	}

	.product div:nth-child(3){
		margin-right: 0;
	}

}


@media screen and (max-width: 600px){

	.product{
		justify-content: center;
	}

	.product-card{
		max-width: 70%;
		min-width: 70%;
		margin-bottom: 10%;
	}

}



